<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- Добавляем доступ к схемам URL -->
    <queries>
        <package android:name="com.whatsapp" />
        <!-- Telegram -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tg" />
        </intent>


        <!-- VK -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="vk" />
        </intent>

        <!-- Facebook -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="fb" />
        </intent>

        <!-- WhatsApp -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="whatsapp" />
        </intent>

        <!-- Twitter -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="twitter" />
        </intent>

        <!-- Instagram -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="instagram" />
        </intent>

        <!-- Проверка поддержки вызовов -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>

        <!-- Проверка обработки текста -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
        </intent>

        <!-- Проверка поддержки набора номера -->
        <intent>
            <action android:name="android.intent.action.DIAL"/>
        </intent>
    </queries>

    <application
        android:label="Borgo.uz"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon"
        android:exported="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Transparent"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Не удаляй этот meta-data, он нужен для Flutter -->
        <meta-data
            
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>
</manifest>
